.khungxanh{
    width: 355px;
    height: 525px;
    background-color:#22D602;
    color: #fff;
    font-size: 30px;
    text-transform: capitalize;
    margin-top: 5px;
    margin-left: 8px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;

}
#container1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500px;
    
}
.boss{
    display: flex;
    justify-content: flex-start;
}
.container{
    margin-left: 60px;
    width: 50%;
    height: 30%;
}
#container2{
    color: grey;
    width: 105%;
    height: 30%;
}
#a{
    padding: 0px 10px;
    background-color:#20B2AA;
    color: #fff;
}
img{
    width: 10px;
}
li{
    list-style: none;
    padding: 5px ;
    text-transform: capitalize;
    color: grey;
}
#b{
    padding: 0%;
}
.list{
    display: flex;
    flex-wrap: wrap;
}
#c{
    text-transform: capitalize;
    width: 200px;
    height: 50px;
    background-color: #20B2AA;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 88%;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight:900;

}